<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Our Wonderful App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Login page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sunt sint. Officia, incidunt, eaque quaerat similique perspiciatis delectus ullam, nostrum enim accusamus consequuntur nam cumque magni vero maiores. Ut, distinctio!</p>
    </main>

    <footer>
        <small>&copy; My wonderful app</small>
    </footer>
</body>
</html>